#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}


/*
PEN BY: @AliRanjbar
Site: www.aliranjbar.ir
pen lang: html, css, js(jquery)
*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: limegreen;
  z-index: 99;
}
.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #f2f2f2;
  border-top: 6px dotted #f2f2f2;
  border-bottom: 6px dotted #f2f2f2;
  border-radius: 50%;
  animation: loading 2s infinite;
}
.loading:before {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "Loading...";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}


#AliRanjbar {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  color: #444;
  font-family: 'Acme', sans-serif;
  z-index: 99;
}
